<!DOCTYPE html>
<html>
<head>
    <title>Student To-Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>📚 Student Daily To-Do List</h2>

<form method="POST">
    <input type="text" name="task" placeholder="Enter today's task" required>
    <button type="submit">Add</button>
</form>

<ul>
    {% for task in tasks %}
    <li>
        {% if task.done %}
            <span class="done">{{ task.name }}</span>
        {% else %}
            {{ task.name }}
        {% endif %}

        <a href="/done/{{ loop.index0 }}">✔</a>
        <a href="/delete/{{ loop.index0 }}">❌</a>
    </li>
    {% endfor %}
</ul>

</body>
</html>
