body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
}

h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 12px;
    background: #4CAF50;
    color: white;
    border: none;
}

ul {
    list-style: none;
}

li {
    background: white;
    padding: 10px;
    margin: 8px auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.done {
    text-decoration: line-through;
    color: gray;
}
